{% extends 'base.html' %}


{% block content %}
    <h1> Dashboard </h1>
    {% for account in accounts %}
        <div class="card mt-4">
            <div class="card-body">
            <h5 class="card-title">Nro de Cuenta: {{ account.account_number }}</h5>
            <p class="card-text">Moneda: {{ currency.description }}</ p>
            <p class="card-text">Saldo: {{ account.balance }}</ p>
            <a href="#" class="btn btn-primary">Retirar</a>
            <a href="{% url 'deposit' account.id %}" class="btn btn-primary">Depositar</a>
            <a href="#" class="btn btn-primary">Enviar</a>
            <a href="#" class="btn btn-primary">Ver transacciones</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
    